body {
    font-size: 12pt;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: darkgrey;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    background-image: url("images/spiral.png"); background-repeat: repeat-y;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 1.1em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.1em;
   }
td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
   }
